{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Halotis Nag Tool{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Your Nags:</h1>
  <div>
    <a href="{{ url_for('nag.nag_new') }}" class="btn btn-primary">New Nag</a>
  </div>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Days Between Entries</th>
        <th>Last Logged Event</th>
        <th>Days Until Next</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for nag in nags %}
      <tr>
        <td><a href="{{ url_for('nag.nag_edit', id=nag.id) }}">{{nag.name}}</a></td>
        <td>{{nag.frequency}}</td>
        <td>{{nag.most_recent_entry.time}}</td>
        {% if nag.days_until_next < 0 %}
          <td><span class="label label-warning">Overdue</span> (by {{0-nag.days_until_next}} Days)</td>
        {% elif nag.days_until_next == 0 %}
          <td><span class="label label-warning">Do Today</span></td>
        {% else %}
          <td>{{nag.days_until_next}} Days</td>
        {% endif %}
        <td>{{ wtf.quick_form(nag.quickcheck_form, form_type="inline", action=url_for('nag.quick_checkin', id=nag.id), button_map={'submit': 'success btn-xs'}) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
